*{
    border: 2px solid red;
}

.hero1-txt{
    font-size: 48px;
    font-weight: 800;
    color: #f9f1f8;
}
.hero2-txt{
    font-size: 18px;
    color: #e5e7eb;
}
.h-logo-txt{
    font-size: 24px;
    color: #f9f1f8;
}
.blue,{
    background-color: #3882f6;
}
.dark-blue{
    background-color: #1f2937;
}
.info-h-txt{
    font-size: 36px;
    font-weight: 800;
    color: #1f2937;
}
body{
    display: flex;
    justify-content: center;
    margin: 0;
    margin-left: 128px;
    margin-right: 128px;
}
button{
    border-radius: 5px;
}
.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 128px;
    padding-right: 128px;
}
.h-links{
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 16px;
}
.neck{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 32px;
}
.sign-up{
    flex-direction: column;
    align-items: flex-start ;
    justify-content: space-between;
    height: 250px;
    margin: 0px;
    padding-left:128px;
    list-style: none;
}
.h-sign{
    width: 400px;
    margin-right: 64px;
}
.p-sign{
    width: 400px;
    font-size: 18px;
    color: #e5e7eb;
}
.img-cat{
    padding-left: 64px;
    width: min-content;
    height: 250px;
    padding-right: 128px;
}
.img-rand{
    height: 100px;
    width: 100px;
}
.h-info{
    
}
.p-info{
    
}